.gradle/
.idea/
build/
*/build/
local.properties
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
